.footer {
	text-align: center;
	padding: 1em 0;
	flex-shrink: 0;
	background-color: $dark;
	color: $dark-contrast;
	font-family: $monospace;
	box-shadow: $box-shadow;
	position: relative;
	line-height: 1em;
	margin-top: 1em;

	.flag {
		position: absolute;
		padding-left: 0.5em;
		margin-top: -0.25em;
		height: 1.5em;
	}
}
