html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: sans-serif;
}

#root {
	height: 100%;
}

a {
	&.no-style {
		text-decoration: none;
		color: inherit;
	}
}

.container {
	padding-top: 1em;
}

.flex-container {
	flex: 1 0 auto;
}

.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.center-text {
	text-align: center;
}
