html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: sans-serif;
}

.fade-enter {
	opacity: 0.01;
}

.fade-enter.fade-enter-active {
	opacity: 1;
	transition: opacity 100ms ease-in;
}

.fade-exit {
	opacity: 1;
}

.fade-exit.fade-exit-active {
	opacity: 0.01;
	transition: opacity 100ms ease-in;
}

div.transition-group {
	position: relative;
}
section.route-section {
	width: 100%;
	top: 0;
	left: 0;
}

#root {
	height: 100%;
}

a {
	&.no-style {
		text-decoration: none;
		color: inherit;
	}
}

.container {
	padding-top: 1em;
}

.flex-container {
	flex: 1 0 auto;
}

.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}
